@font-face {
    font-family: "RubikMedium";
    src: local("RubikMedium"), url(../../public/fonts/Rubik-Medium.ttf) format("truetype");
}
  
@font-face {
    font-family: "RubikRegular";
    src: local("RubikRegular"), url(../../public/fonts/Rubik-Regular.ttf) format("truetype");
}

.toast {
    width: 350px;
    display: flex;
    position: relative;
    opacity: 1;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgb(69, 69, 69);
    background-color: white;
    overflow: hidden;
  
    transition: 0.3s;
    animation: toastIt 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;

}

.toast > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toast > div > div:nth-child(1) {
    margin-right: 1rem;
}

.toast > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    margin-right: auto;

}

.toast_icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url(../../public/images/alertCircle.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;
}

.error_toast_icon {
    background-color: red;
}
  
.info_toast_icon {
    background-color: #2b89e9;
}
  
.success_toast_icon {
    background-color: #4cd16d;
}
  
.warning_toast_icon {
    background-color: #ffbc22;
}

.toast_title{
    font-family: "RubikMedium";
    font-size: 15px;
    font-weight: 500;
    color: #2e384d;
    margin: 0 0 0.5rem 0;
    margin-right: auto;
}

.toast_subTitle{
    font-family: "RubikRegular";
    font-size: 15px;
    color: #2e384dce;
    margin: 0;
    margin-right: auto;
}


.success {
    border-left: 4px solid #4cd16d;
}

.warning {
    border-left: 4px solid #ffbc22;
}

.error {
    border-left: 4px solid red;
}

.info {
    border-left: 4px solid #2b89e9;
}

#close_icon {
    height: 1.5rem;
    width: 1.5rem;
}

@keyframes toastIt {
    from {
      transform: translateX(150%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }