@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
}

.main h1 {
  margin-top: 0;
}

.main h5{
  font-weight: 500;
  font-size: 16px;
  color: #170F49;
  margin-bottom: 4px;
}

.content{
  background-color: #efeff3;
  padding: 50px 80px;
  border-radius: 20px;
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
}


.content form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.content form .autoClose {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.content form input[type='text'],
.content form select {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  color: #6F6C90;
  line-height: 20px;
  padding: 14px;
  width: 280px;
  border: 1px solid #EFF0F7;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  font-family: 'DM Sans', sans-serif;
}
.content form button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 10px;
  width: 220px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 0px 0px 3px #402d21;
  background: linear-gradient(180deg, #9E96F2 0%, #EC31F0 100%);
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  font-family: 'DM Sans', sans-serif;
}

@media only screen and (max-width: 720px) {
  .content {
    padding: 50px 40px;
    margin: 0px 20px;
  }
}